@page "/platform"
<h3>Platform</h3>
<a href="javascript:history.back()">Back</a>
@code {
    protected override Task OnInitializedAsync()
    {
        
        return base.OnInitializedAsync();
    }
}
